.feature-card2-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card2-icon {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.feature-card2-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card2-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}











@media(max-width: 767px) {
  .feature-card2-feature-card {
    flex-direction: row;
  }
  .feature-card2-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card2-container {
    flex-direction: column;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
}
.home-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.home-header {
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo-center {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-middle {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.home-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-text001 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-text002 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-text003 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-text004 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-text005 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-image {
  width: 200px;
  object-fit: cover;
}
.home-main {
  width: 100%;
  height: 6242px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-hero {
  padding-top: var(--dl-space-space-fiveunits);
  padding-bottom: 28px;
  background-color: var(--dl-color-pallet-green);
}
.home-max-width {
  width: 1076px;
  max-width: 1032px;
}
.home-hero1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container2 {
  width: 462px;
  display: flex;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text006 {
  width: 520px;
  max-width: 450px;
  font-style: normal;
  text-align: center;
  font-family: Times New Roman;
  font-weight: 700;
  margin-bottom: 20px;
}
.home-text007 {
  text-align: justify;
}
.home-image1 {
  width: 548px;
  height: 393px;
  object-fit: cover;
}
.home-categories {
  padding-top: 42px;
}
.home-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text008 {
  font-size: 3em;
  font-family: Times New Roman;
}
.home-container4 {
  width: 854px;
  display: flex;
  position: relative;
  max-width: 770px;
  box-sizing: border-box;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.home-text009 {
  color: var(--dl-color-gray-black80);
  width: 100%;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: justify;
  font-family: Jost;
  font-weight: 400px;
  line-height: 175%;
  font-stretch: normal;
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.home-text011 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: Jost;
  line-height: 175%;
  text-decoration: none;
}
.home-text014 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: Jost;
  line-height: 175%;
  text-decoration: none;
}
.home-text017 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: Jost;
  line-height: 175%;
  text-decoration: none;
}
.home-text020 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: Jost;
  line-height: 175%;
  text-decoration: none;
}
.home-text023 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: Jost;
  line-height: 175%;
  text-decoration: none;
}
.home-text026 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: Jost;
  line-height: 175%;
  text-decoration: none;
}
.home-link {
  text-decoration: none;
}
.home-full-width-banner {
  width: 100%;
  display: flex;
  align-items: stretch;
  padding-top: var(--dl-space-space-fourunits);
  justify-content: center;
}
.home-left {
  flex: 1;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: #F3F0E6;
}
.home-image2 {
  width: 764px;
  object-fit: cover;
}
.home-content {
  display: flex;
  position: relative;
  box-sizing: border-box;
  margin-top: 0 0 40px 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0 0 40px 0;
  border-color: transparent;
  margin-right: 0 0 40px 0;
  flex-direction: column;
}
.home-text030 {
  color: rgb(0, 0, 0);
  height: auto;
  margin: 0 0 16px 0;
  font-size: 30px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Jost;
  font-weight: 500px;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text031 {
  color: rgba(0, 0, 0, 0.6);
  width: 267px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: justify;
  font-family: Jost;
  font-weight: 400px;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-blog {
  padding-top: 12px;
}
.home-banner {
  width: 100%;
  height: 1871px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  padding-top: 21px;
  flex-direction: column;
  padding-bottom: 28px;
  justify-content: space-between;
}
.home-text032 {
  font-size: 3rem;
  text-align: center;
}
.home-text033 {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: justify;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-hero2 {
  width: 100%;
  height: 1189px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  margin-top: var(--dl-space-space-oneandhalfunits);
  min-height: 80vh;
  align-items: center;
  padding-top: 20px;
  flex-direction: column;
  padding-bottom: 12px;
  justify-content: center;
}
.home-container5 {
  height: 578px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text053 {
  font-size: 3rem;
}
.home-text054 {
  margin-top: var(--dl-space-space-twounits);
  text-align: justify;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-image3 {
  width: 844px;
  height: 533px;
  object-fit: cover;
}
.home-features {
  width: 1171px;
  height: 1214px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  padding-top: 20px;
  margin-bottom: 12px;
  flex-direction: column;
  padding-bottom: 20px;
}
.home-text072 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container6 {
  width: 100%;
  height: 957px;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.home-banner1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  padding-top: 4px;
  flex-direction: column;
  justify-content: space-between;
}
.home-text074 {
  font-size: 3rem;
  text-align: center;
}
.home-text075 {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: justify;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-banner2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  padding-top: 28px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.home-text091 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text092 {
  text-align: justify;
}
@media(max-width: 991px) {
  .home-burger-menu {
    display: flex;
  }
  .home-icon {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .home-logo-center {
    margin-left: 0px;
  }
  .home-hero1 {
    flex-direction: column;
  }
  .home-container2 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-text006 {
    text-align: center;
  }
  .home-text033 {
    max-width: 100%;
  }
  .home-hero2 {
    flex-direction: column;
  }
  .home-container5 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text053 {
    text-align: center;
  }
  .home-text054 {
    text-align: center;
  }
  .home-text075 {
    max-width: 100%;
  }
  .home-text091 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-main {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-hero {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text009 {
    max-width: 770px;
  }
  .home-full-width-banner {
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-left {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-content {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text031 {
    width: auto;
  }
  .home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text033 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-hero2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text054 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container6 {
    grid-template-columns: 1fr;
  }
  .home-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text075 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-banner2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-container {
    padding-top: 55px;
  }
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-left {
    width: auto;
  }
  .home-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-hero2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container5 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-banner2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
